*{
    margin: 0;
    padding: 0;
    background-color: rgb(43, 33, 52);
   
}
.gradient-text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}